@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
h1, h2 {
    line-height: 1.55em;
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15em;
    line-height: 1.55em;
}
.foto {
    width: 20vw;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 4px;
}